In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(
    './data/src/11111-01-01-4.csv', 
    delimiter=';', 
    encoding='latin1', 
    skiprows=6, 
    skipfooter=4,
    names=(
        'date', 'id', 'name', 'val'
    )
).applymap(lambda x: x.strip())
del df['date']
del df['val']
df = df[df['id'].map(len) == 5]
df.head()

/home/simonwoerpel/Projects/datenland/graphql-datastore/venv/lib/python3.6/site-packages/ipykernel_launcher.py:8: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

      id                                      name
2  01001               Flensburg, Kreisfreie Stadt
3  01002  Kiel, Landeshauptstadt, Kreisfreie Stadt
4  01003      Lübeck, Hansestadt, Kreisfreie Stadt
5  01004              Neumünster, Kreisfreie Stadt
6  01051                   Dithmarschen, Landkreis

In [3]:
def get_name_ext(name):
    try:
        ext = name.split(', ')[1]
        if ext == 'Landkreis':
            return 'Kreis'
        return ext
    except IndexError:
        return 'Kreis'

In [4]:
df['name_ext'] = df['name'].map(get_name_ext)
df['name'] = df['name'].map(lambda x: x.split(', ')[0])
df.head()

      id          name          name_ext
2  01001     Flensburg  Kreisfreie Stadt
3  01002          Kiel  Landeshauptstadt
4  01003        Lübeck        Hansestadt
5  01004    Neumünster  Kreisfreie Stadt
6  01051  Dithmarschen             Kreis

In [5]:
df.tail()

        id                  name name_ext
521  16073   Saalfeld-Rudolstadt    Kreis
522  16074  Saale-Holzland-Kreis    Kreis
523  16075      Saale-Orla-Kreis    Kreis
524  16076                 Greiz    Kreis
525  16077      Altenburger Land    Kreis

In [6]:
df.to_csv('./data/src/names.csv', index=False, header=False)